<h1>Board show page</h1>

<%= turbo_frame_tag 'board' do %>
  <%= @board.name %>
  <%= link_to 'Edit', edit_board_path(@board) %>
<% end %>

<%= button_to 'Delete', board_path(@board), method: :delete, data: { controller:  "confirmation", confirmation_message_value: "Are you sure?", action: "click->confirmation#confirm" } %>


<section data-controller="pin" data-pin-board="<%= @board.id %>">
  <br>
  <h1>Create of Pin</h1>
  <div data-pin-target='message'></div>
  <%= turbo_frame_tag 'new_pin' do %>
    <%= render 'pins/form', pin: @pin, boards: @boards %>
  <% end %>

  <br>
  <h1>List of Pins</h1>
  <section class='list-of-pins' data-pin-target='list'>
    <% if @board.pins.any? %>
      <% @board.pins.each do |pin| %>
        <br>
        <div class='single-pin'>
          <%= link_to pin_path(pin) do %>
            <% if pin.image.attached? %>
              <%= image_tag pin.image, style: 'width: 100px;', data: { pin_target: 'image'} %>
            <% end %>
            <%= pin.title %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </section>
</section>