<p id="notice"><%= notice %></p>

<%= turbo_frame_tag dom_id(@room) do %>
  <p>
    <strong>Name:</strong>
    <%= @room.name %>
  </p>

  <%= link_to 'Edit', edit_room_path(@room) %>
  <%= link_to 'Back', rooms_path, 'data-turbo-frame': '_top' %>
<% end %>

<%= turbo_stream_from @room %>
<div id="messages">
  <%= turbo_frame_tag @room do %>
    <%= render @room.messages %>
  <% end %>
</div>

<%= turbo_frame_tag 'new_message', src: new_room_message_path(@room), target: '_top' %>